In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp38-cp38-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp38-cp38-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   -- ------------------------------------- 0.8/14.3 MB 8.5 MB/s eta 0:00:02
   ---------- ----------------------------- 3.9/14.3 MB 14.7 MB/s eta 0:00:01
   ------------------- -------------------- 7.1/14.3 MB 15.0 MB/s eta 0:00:01
   ------------------------ --------------- 8.7/14.3 MB 13.4 MB/s eta 0:00:01
   ---------------------------- ----------- 10.2/14.3 MB 10.6 MB/s eta 0:00:01
   ------------------------------- -------- 11.3/14.3 MB 9.4 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.3 MB 8.9 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 7.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [6]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()
qry='''
    CREATE TABLE IF NOT EXISTS Employee(
    EmpID INTEGER PRIMARY KEY AUTO_INCREMENT,
    FIRST_NAME VARCHAR(20),
    LAST_NAME VARCHAR(20),
    AGE INTEGER,
    GENDER VARCHAR(1),
    INCOME FLOAT
    )
'''
try:
    cursor.execute(qry)
    print('Table successfully created')
except Exception as e:
    print('Table creation failed',e)

connection.close()

Table successfully created

In [31]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()

qry ='''
    INSERT INTO Employee(FIRST_NAME, LAST_NAME, AGE, GENDER, INCOME)
    VALUES (%s,%s,%s,%s,%s)'''

data = [
    ('Clark', 'Kent', 43, 'M', 2132213),
    ('Bruce', 'Wayne', 23, 'M', 2312213)
]

try:
    cursor.executemany(qry,data)
    connection.commit()
    print('New Record Added')
except:
    connection.rollback()
    print('Error in the INSERT Querry')
connection.close()

New Record Added

In [14]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()

qry = '''
    SELECT * FROM Employee
'''
try:
    cursor.execute(qry)
    results = cursor.fetchall()
    for col in results:
        fname = col[1]
        lname = col[2]
        age = col[3]
        gender = col[4]
        income = col[5]
        print('fname={},lname={}, age={}, gender={}, income={}'.format(fname,lname,age,gender,income))
except Exception as e:
    print(e)
    print('Error in the Querry')
connection.close()

fname=Clark,lname=Kent, age=43, gender=M, income=2132210.0
fname=Clark,lname=Kent, age=43, gender=M, income=2132210.0
fname=Bruce,lname=Wayne, age=23, gender=M, income=2312210.0

In [17]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()
qry = '''
    UPDATE Employee SET INCOME = INCOME +10000 where INCOME > %s
'''

try:
    cursor.execute(qry,(400000,))
    connection.commit()
    print('Record Updated')
except Exception as e:
    print('Error: unable to update table',e)
connection.close()

Record Updated

In [19]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()

qry = '''
    DELETE FROM EMPLOYEE WHERE INCOME < %s
'''

try:
    cursor.execute(qry,(22222222,))
    connection.commit()
    print('Record Deleted')
except Exception as e:
    print('Error: unable to delete record ',e)
connection.close()

Record Deleted

In [35]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()

qry = '''
    SELECT FIRST_NAME, LAST_NAME
    FROM Employee
    WHERE INCOME <= %s;
'''
try:
    cursor.execute(qry,(202000200,))
    results = cursor.fetchall()
    for col in results:
        fname = col[0]
        lname = col[1]
        print('fname={},lname={}'.format(fname,lname))
except Exception as e:
    print(e)
    print('Error in the Querry')
connection.close()

fname=Clark,lname=Kent
fname=Bruce,lname=Wayne

In [38]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin',
    database='demo1'
)

cursor = connection.cursor()

qry = '''
    SELECT first_name
    FROM employee 
    GROUP BY first_name
    HAVING min(income)<%s; 
'''
try:
    cursor.execute(qry,(202000200,))
    results = cursor.fetchall()
    for col in results:
        fname = col[0]
        print('fname={}'.format(fname))
except Exception as e:
    print(e)
    print('Error in the Querry')
connection.close()

fname=Clark
fname=Bruce