In [1]:
import sqlite3 
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()

qry='''
CREATE TABLE IF NOT EXISTS Employee(
  EmpID INTEGER PRIMARY KEY AUTOINCREMENT,
  FIRST_NAME TEXT(20),
  LAST_NAME TEXT(20),
  AGE INTEGER,
  GENDER TEXT(1),
  INCOME FLOAT
)
'''
try:
    cursor.execute(qry)
    print('Table created successfully')
except:
    print('Error in creating table')
connection.close()

Table created successfully

In [22]:
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()
qry = '''
    INSERT INTO Employee(FIRST_NAME, LAST_NAME, AGE, GENDER, INCOME)
    VALUES ('Bruce','Wyane',44,'M',40404040)
'''
try:
    cursor.execute(qry)
    connection.commit()
    print('New Record Added')
except:
    connection.rollback()
    print('Error in the INSERT Querry')
connection.close()

New Record Added

In [23]:
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()
qry ='''
    INSERT INTO Employee(FIRST_NAME, LAST_NAME, AGE, GENDER, INCOME)
    VALUES (?,?,?,?,?)'''
try:
    cursor.execute(qry,('Clark','Kent',43,'M',2132213))
    connection.commit()
    print('New Record Added')
except:
    connection.rollback()
    print('Error in the INSERT Querry')
connection.close()

New Record Added

In [40]:
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()
qry = '''
SELECT * FROM Employee
'''
try:
    cursor.execute(qry)
    results = cursor.fetchall()
    for col in results:
        fname = col[1]
        lname = col[2]
        age = col[3]
        gender = col[4]
        income = col[5]
        print('fname={},lname={}, age={}, gender={}, income={}'.format(fname,lname,age,gender,income))
except Exception as e:
    print(e)
    print('Error in the Querry')
connection.close()

fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0
fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0
fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0
fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0
fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0
fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0
fname=Bruce,lname=Wyane, age=44, gender=M, income=40414040.0

In [35]:
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()
qry = '''
    UPDATE Employee SET INCOME = INCOME +10000 where INCOME>?
'''

try:
    cursor.execute(qry,(400000,))
    connection.commit()
    print('Record Updated')
except Exception as e:
    print('Error: unable to update table',e)
connection.close()

Record Updated

In [37]:
import pandas as pd
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()

df = pd.read_sql_query(qry, connection)
print(df)

   EmpID FIRST_NAME LAST_NAME  AGE GENDER      INCOME
0      1      Bruce     Wyane   44      M  40414040.0
1      2      Clark      Kent   43      M   2142213.0
2      3      Bruce     Wyane   44      M  40414040.0
3      4      Bruce     Wyane   44      M  40414040.0
4      5      Bruce     Wyane   44      M  40414040.0
5      6      Bruce     Wyane   44      M  40414040.0
6      7      Clark      Kent   43      M   2142213.0
7      8      Bruce     Wyane   44      M  40414040.0
8      9      Bruce     Wyane   44      M  40414040.0
9     10      Clark      Kent   43      M   2142213.0

In [39]:
connection = sqlite3.connect('testdb.db')
cursor = connection.cursor()
qry = '''
    DELETE FROM EMPLOYEE WHERE INCOME < ?
'''

try:
    cursor.execute(qry,(22222222,))
    connection.commit()
    print('Record Deleted')
except Exception as e:
    print('Error: unable to delete record ',e)
connection.close()

Record Deleted